@import '../../../appStyles/app-styles.scss';

.about-me {
  flex: 0 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-me-title {
    color: $dark-text;
  }

  .profile-picture {
    height: 120px;
    width: 120px;

    background-image: url('../../../../dist/assets/Profile_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
  }

  .about-me-text-container {
    margin: 3% 0;
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    .about-me-blurb {
      width: 100%;
    }

    .about-me-links {
      height: auto;
      width: 50%;
      margin: 2% 0;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      a {
        .linkedin {
          height: 40px;
          width: 45px;

          background-image: url('../../../../dist/assets/LinkedInLogo.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .github {
          height: 40px;
          width: 40px;

          background-image: url('../../../../dist/assets/GitHub-Mark-64px.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .codewars {
          height: 40px;
          width: 40px;

          background-image: url('../../../../dist/assets/codewars.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    p {
      height: auto;
      width: 100%;
    }

    ul {
      margin: 7% 0 4% 0;
      font-family: $lora;
      font-weight: 600;
      list-style: none;

      li {
        margin: 2% 0;
      }
    }
    .portfolio-blurb {
      width: 100%;

      margin: 5% 0 0 0;
    }
  }
}
