@import '../../appStyles/app-styles.scss';

.portfolio-card {
  height: auto;
  width: 100%;
  margin: 6% 0;

  //border: 1px solid black;
  color: $light-text;

  .card-button {
    padding: 1%;
    margin: 1% 2% 1% 0;

    background-color: transparent;
    border: 3px solid $light-text;
    border-radius: 15px;

    color: $light-text;
    font-weight: 600;

    &:hover {
      background-color: $light-text;
      color: $greige;
    }
  }
}
