@import '../../appStyles/app-styles.scss';

.portfolio {
  flex: 0 0 auto;
  width: 100%;

  background-color: $greige;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .portfolio-title {
    color: $light-text;
  }

  .portfolio-card-container {
    height: 100%;
    width: 70%;
  }
}
