@import '../../appStyles/app-styles.scss';

.navbar {
  flex: 0 0 5vw;
  width: 100%;

  background-color: $greige;
  border-bottom: 2px solid white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  z-index: 1000;

  .nav-link-container {
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .nav-link {
      background: none;
      border: none;
      display: block;

      font-family: $lato;
      text-decoration: none;
      color: $light-text;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
