body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

.app-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/// general html elements

h2 {
  margin: 2% 0 0 0;

  font-size: 10vw;
  font-weight: 500;
}

h3 {
  margin: 2% 0;

  font-size: 4vw;
  font-weight: 500;
}

h4 {
  margin: 2% 0;

  font-size: 1.3vw;
  font-weight: 500;
}
