@import './appStyles/app-styles.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

.app {
  height: 100%;
  width: 100%;
}

.app-container {
  height: auto;
  width: 100%;

  position: relative;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/// general html elements

h2 {
  margin: 2% 0 0 0;

  font-family: $playfair;
  font-size: 98px;
  font-weight: 500;
}

h3 {
  margin: 2% 0;

  font-family: $lato;
  font-size: 55px;
  font-weight: 500;
}

h4 {
  margin: 2% 0;

  font-family: $lato;

  font-size: 20px;
  font-weight: 700;
}

p {
  font-family: $roboto;
  font-size: 18px;
}
