@import '../../appStyles/app-styles.scss';

.banner-container {
  height: 30vw;
  width: 100%;
  border: 1px solid black;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .banner-filter {
    height: 100%;
    width: 100%;

    position: absolute;

    background-color: $greige;
    opacity: 0.7;

    z-index: 100;
  }

  .banner-text-container {
    height: 80%;
    width: 50%;
    padding: 5%;

    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 200;

    .banner-heading {
      font-size: 60px;
      z-index: 200;
    }

    .banner-blurb {
      z-index: 200;
    }
  }
}
