@import '../../appStyles/app-styles.scss';

.about-me {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-me-title {
    margin: 2%;

    font-size: 10vw;
    font-weight: 500;
  }

  .about-me-text-container {
    height: auto;
    width: 80%;

    p {
      height: auto;
      width: 100%;
      margin: 2% 0;
    }
  }
}
